<%= stylesheet_link_tag 'user', media: 'all' %> 
<%= stylesheet_link_tag 'devise', media: 'all' %>
<div class="user-background d-flex flex-column justify-content-between">

  <div class="d-flex flex-column align-items-center  ">    
    <div class="text-center welcome">
      
        <h2 class="text-light welcome-title" >
        <%= link_to root_path, class:'link' do %>
          <span>&#127968;</span>        
        <% end %>        
        </h2>
        <h1 class="text-light welcome-title">My groups</h1>
        <h3 class="text-light welcome-user "><%= current_user.email%></h3>      
      
    </div>
  </div>

  <% @groups.each do |group|%>
    <div class="menu-item-container">
      <div class="d-flex align-items-center ">
        <div class="user-logo-element">
          <div class="circle-logo text-light">          
            <span class="logo-size">&#128210;</span>
          </div>
        </div>
        <div class="">
          <%= link_to group.name, group, class:'link text-light text-size' %>
          <p class="group-created-delete">
            <%= group.created_at%> - <%= link_to 'Delete', group,  class: "red", method: :delete%>
          </p> 
        </div>        
      </div>
    </div>
  <%end%>
    
  <div class="bg-success d-flex mt-2 align-items-center text-center">
    <%= link_to 'Create new ', new_group_path, class:"text-uppercase mt-4 mb-4 text-light text-casual-bold text-size mx-auto link" %>      
  </div>

</div>




