<%= stylesheet_link_tag 'transactions', media: 'all' %>
<%totalf=0%>            
<% @inside_groups.each do |inside|%>        
    <% totalf=totalf+inside.amount.to_int%>
<%end%>
<%totalf%>           

<div class="container-all">
  <div>
    <div class="header">
      <div class="back">
        <%= link_to groups_path, class:'link' do %>
          <span>&#9194;</span>
        <% end %>
      </div>

      <div class="label-title">
        <div class="d-flex flex-column justify-content">      
          <div class="avatar">
            <%= image_tag(@group.image, :class => "avatar-image")%>            
          </div> 
          <h4 class="title text-uppercase text-light avatar"><%= @group.name%></h4>              
          <h5 class="subtitle  "><%= @group.created_at.strftime('%B %d, %Y')%></h6>                      
          <h5 class=" subtitle ">Created by <%= @group.user.email%></h5>              
         </div> 
      </div>

      <div class="new">
        <%= link_to 'Edit', edit_group_path(@group.id), class:'button' %>
      </div>

    </div>

    <div class="total">
      <div class="total-element">
        <p class="text-size">Total</p>
      </div>

      <div class="total-element">
        <p class="text-size text-total"><%= totalf %> Hours</p>
      </div>

    </div>

    <div class="detail">
      <% @inside_groups.each do |inside| %>        
          <div class="expense_big-container d-flex align-items-center bg-light mt-3">        
            <div class="expense_big-titles p-2 d-flex flex-column w-100">
              <div class="expenses-titles d-flex justify-content-between">
                <p class="text-size pr-3"><%= inside.name %></p>
                <p class="text-size pr-3"><%= inside.amount %> Hours</p>
              </div>
              <div class="expenses-titles d-flex justify-content-between">
                <p class="text-size-small text-muted text-casual-bold pr-3"><%= inside.email %></p>
                <p class="text-size-small text-muted text-casual-bold pr-3"><%= inside.created_at.strftime('%B %d, %Y') %></p>
              </div>
            </div>
          </div>        
      <% end %>
    </div>
  </div>
</div>