<% unless user_signed_in? %>
    <div class="row center-xs">
        <div class="cols-xs-8 col-md-6">
            <div class="box">               
                <h1 >Snapscan</h1>        
                <div>
                    <div>
                        <%= link_to 'Log In', new_user_session_path, class:'link text-casual-bold text-light text-uppercase' %>
                    </div>
                    <div>
                        <%= link_to 'Sign Up', new_user_registration_path%>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%else%>    
<div class="row center-xs">
    <div class="cols-xs-8 col-md-6">
        <div class="box"> 
            EN INNDEX
            <h3 class="text-light"><%= current_user.email%></h3>    
            <div >
            <%= link_to 'All my subjects', transactions_path%>
            </div>

            <div >
            <%= link_to 'All my external subjects', external_path%>        

            
            <div >
            <%= link_to 'All groups', groups_path%>
            </div>

            <div >
            <%= link_to 'Log out', destroy_user_session_path, method: :delete%>
            </div>
        </div>
    </div>
</div>    
<%end%>
