<%= stylesheet_link_tag 'transactions', media: 'all' %>
<%totalf=0%>            
<% @transactions.each do |transaction|%>        
    <% totalf=totalf+transaction.amount.to_int%>
<%end%>
<%totalf%>           

<div class="container-all">

  <div class="header">
    <div class="back">
      <%= link_to root_path, class:'link' do %>
        <i class="fas fa-arrow-left text-light"></i>
      <% end %>
    </div>

    <div class="d-flex text-center flex-column pt-2 label-title">
      <h4 class="title text-uppercase text-light">My subjects</h4>    
    </div>

    <div class="new">
      <%= link_to 'Add new', new_transaction_path, class:'button ' %>
    </div>
  </div>

  <div class="total d-flex align-items-center pt-3 pb-3 bg-light justify-content-between">

    <div class="total-element">
      <p class=" text-size">Total</p>
    </div>

    <div class="total-element">
      <p class="text-size text-total"><%= totalf %> Hours</p>
    </div>

  </div>

  <div class="pb-5 mb-5">
    <% @transactions.each do |transaction| %>
      
      <%= link_to transaction_path(transaction.id), class:'' do %>
        <div class="expense_big-container d-flex align-items-center bg-light mt-3">        

          <div class="expense_big-titles p-2 d-flex flex-column w-100">

            <div class="expenses-titles d-flex justify-content-between">
              <p class="text-size pr-3"><%= transaction.name %></p>
              <p class="text-size pr-3"><%= transaction.amount %> Hours</p>
            </div>

            <div class="expenses-titles d-flex justify-content-between">
              <p class="text-size-small text-muted pr-3"><%= current_user.email %></p>
              <p class="text-size-small text-muted pr-3"><%= transaction.created_at.strftime('%B %d, %Y') %></p>
            </div>

          </div>

        </div>

      <% end %>
    <% end %>
  </div>

  <div class="bg-success d-flex mt-2 align-items-center text-center">
    <%= link_to 'Add new', new_transaction_path, class:"text-uppercase mt-4 mb-4 text-light text-casual-bold text-size mx-auto link" %>
  </div>

</div>